@use 'variables';
@mixin flex($dis, $direction, $wrap, $just, $align){
    display: $dis;
    flex-direction: $direction;
    flex-flow: $direction $wrap;
    justify-content: $just;
    align-items: $align;
}

@mixin box ($background-color, $border-radius, $background-box-border) {
    background-color: $background-color;
    border-radius: $border-radius;
    border: 10px solid $background-box-border;
}